{% include 'lib/top.html' ignore missing %}

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5">Sign Up</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form action="joinpost" method="POST" id="contactForm" name="sentMessage">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>ID</label>
                                    <input class="form-control" name="id" type="text" placeholder="New ID" required="required" data-validation-required-message="Please enter your name." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Password</label>
                                    <input class="form-control" name="pw" type="password" placeholder="New Password" required="required" data-validation-required-message="Please enter your name." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Password Check</label>
                                    <input class="form-control" name="pwc" type="password" placeholder="Check Password" required="required" data-validation-required-message="Please enter your name." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>User Name</label>
                                    <input class="form-control" name="username" type="text" placeholder="User Name" required="required" data-validation-required-message="Please enter your name." />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 py-5">
                                    <label>Gender</label>
                                    <input class="d-inline" name="gender" value="male" type="radio" checked/> 남
                                    <input class="d-inline ml-3" name="gender" value="female" type="radio"/> 여
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Phone Number</label>
                                    <input class="form-control" name="tel" type="text" placeholder="Phone Number"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email</label>
                                    <input class="form-control" name="email" type="email" placeholder="Email Address"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Birth Date</label>
                                    <input class="form-control" name="birth" type="date" placeholder="Birth Date (ex: 001231)"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Address</label>
                                    <textarea class="form-control" name="address" type="text" rows="5" placeholder="Address"></textarea>
                                </div>
                            </div>
                            <br />
                            <div id="success"></div>
                            <div class="form-group"><button class="btn btn-primary btn-xl" type="submit">Join</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% include 'lib/bottom.html' ignore missing %}
