{% include 'lib/top.html' ignore missing %}

        <!-- Contact Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Contact Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0 mt-5">Sign Up</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Contact Section Form-->
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19.-->
                        <form action="#" method="POST" id="contactForm" name="sentMessage">
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>ID</label>
                                    <input class="form-control" name="id" value="id: {{session['id']}}" type="text" placeholder="ID" required="required" data-validation-required-message="Please enter your name." disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>User Name</label>
                                    <input class="form-control" name="username" value="username: {{session['username']}}" type="text" placeholder="User Name" required="required" data-validation-required-message="Please enter your name." disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 py-5">
                                    <label>Gender</label>
                                    <input class="d-inline" name="gender" value="{{session['gender']}}" value="male" type="radio" checked disabled /> 남
                                    <input class="d-inline ml-3" name="gender" value="{{session['gender']}}" value="female" type="radio" disabled /> 여
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Phone Number</label>
                                    <input class="form-control" name="tel" value="tel: {{session['tel']}}" type="text" disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Email</label>
                                    <input class="form-control" name="email" value="email: {{session['email']}}" type="email" disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Birth Date</label>
                                    <input class="form-control" name="birth" value="{{session['birth']}}" type="date" disabled />
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                    <label>Address</label>
                                    <textarea class="form-control" name="address" type="text" rows="5" disabled >address: {{session['address']}}</textarea>
                                </div>
                            </div>
                            <br />
                            <div class="form-group d-inline mr-5"><button class="btn btn-secondary btn-xl" type="button" onclick="location.href='membermod'">정보수정</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

{% include 'lib/bottom.html' ignore missing %}
